<?xml version="1.0" encoding="UTF-8"?>

<phpunit convertWarningsToExceptions="true"
        convertNoticesToExceptions="true"
        convertErrorsToExceptions="true"
        backupStaticAttributes="false"
        processIsolation="false"
        stopOnFailure="false"
        backupGlobals="false"
        syntaxCheck="false"
        colors="true">
    <testsuites>
        <testsuite name="Acme Test Suite">
            <directory>./src/Tests/</directory>
        </testsuite>
    </testsuites>

    <php>
        <var name="DB_DSN" value="mysql:dbname=acme;host=localhost" />
        <var name="DB_USER" value="acme" />
        <var name="DB_PASSWD" value="secret" />
        <var name="DB_DBNAME" value="acme" />
    </php>

</phpunit>
